<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
   <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <connectionStrings>
   
 <add name="connect" connectionString="Data source=DESKWARE45984RB\SQLEXPRESS;initial catalog=db_royal;uid=sa;pwd=CUk_amD9W4c$" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
  <authentication mode="Forms">
      <forms timeout="770"/>
         </authentication>
           <sessionState timeout="780"/>
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
      <machineKey validationKey="E2E6569DB9010EEE42ED1182337465F117854D6D" decryptionKey="B9096E428AE55C4D4EF94DC42ECF48B11842709C44B2A96F9557EB3ACCB7FED0" validation="SHA1" decryption="AES" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
       
      </controls>
    </pages>
  </system.web>
</configuration>